{% extends 'layout.html' %}

{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/about-bg.jpg') }}')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading text-center text-white">
          <h1 class="fw-bold display-4">About Me</h1>
          <span class="subheading fs-4 fst-italic">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<main class="my-5">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="about-card p-4 p-md-5 shadow-lg rounded-4">
          <p class="lead mb-0">{{ params['about'] }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
